extends layout

block content
	//variables are set like this
	h1 #{title}
	form(method ="POST", action="/articles/add")
		//Bootstrap
		.form-group
			label Title:
			input.form-control(name='title', type='text', placeholder='Put article title')
		.form-group
			label Author:
			input.form-control(name='author', type='text', placeholder='Put article author')
		.form-group
			label Body:
			textarea.form-control(name='body')
		input.btn.btn-primary(type='submit',value='Submit')
