extends layout

block content
	//variables are set like this
	h1 Login form
	form(method ="POST", action="/users/login")
		//Bootstrap
		.form-group
			label Username:
			input.form-control(name='username', type='text', placeholder='Put your login')
		.form-group
			label Password:
			input.form-control(name='password', type='password', placeholder='Put your password')
		input.btn.btn-primary(type='submit',value='Submit')